<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/med/new.css" />
    <script src="/js/med/new/theme.js" defer></script>
</head>
<body>
<th:block th:replace="~{fragments/loading_indicator :: commonUiHtml}"></th:block>

<h1>Register new Hospital Visit</h1>
<button id="theme-toggle-btn" type="button">🌙 다크 모드</button>

<form action="/hospital/visit/register" method="post">

    <input type="hidden" name="appUserUuid" th:value="${appUserUuid.asString()}">

    <fieldset>
        <legend>기록</legend>
        <label>병원 명
            <input type="text" name="hospitalName">
        </label>
        <label>병원 방문 일시
            <input type="datetime-local" name="consultedAt">
        </label>
        <br/>
        <label>주요 증상
            <input type="text" name="chiefSymptom">
        </label>
        <br/>
        <label>진단 병명
            <input type="text" name="diagnosis">
        </label>
        <br/>
        <label>담당 의료진 명
            <input type="text" name="physicianName">
        </label>
    </fieldset>

    <input type="submit" value="기록">
</form>
</body>
</html>