<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>복용 중인 약 목록</title>
    <link rel="stylesheet" href="/css/med/list.css">
    <script src="/js/med/main.js" defer></script>
</head>
<body>
<h1>복용 중인 약</h1>

<input type="hidden" id="app-user-uuid" th:value="${appUserUuid.value}" readonly>

<div class="medication-list">
    <div class="medication-card" th:each="medSimpleViewModel : ${medSimpleViewModelList}">
        <div class="card-header">
            <h2 th:text="${medSimpleViewModel.medName}"></h2>
            <span class="med-type" th:text="${medSimpleViewModel.medType.title}"></span>
        </div>

        <div class="card-body">
            <p>
                <span th:text="${medSimpleViewModel.medType.title}"></span>
            </p>
            <p>
                <span th:text="|${medSimpleViewModel.doseAmount} ${medSimpleViewModel.doseUnit.title}|"></span>
            </p>
            <p style="color: #3a3a3c">
                <small>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                            <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z"/>
                            <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                        </svg>
                    </span>
                    <span th:text="${medSimpleViewModel.frequencySentence}"></span>
                </small>
            </p>
        </div>

        <div class="card-footer">
            <a th:href="@{/med/{medUuid}(medUuid=${medSimpleViewModel.medUuid.asString()})}">
                <button type="button">details</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>